table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

td {
    padding: 4px;
    border: 1px solid black;
    text-align: right;
}

td:first-of-type {
    text-align: left;
}

/* headers style for tablesorter */
.header {
    padding: 4px;
    border: 1px solid black;
    background-image: url(/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    background-color:#eee;
    cursor: pointer;
    padding-right: 20px;
}

.headerSortUp {
    background-image: url(/img/asc.gif);
}

.headerSortDown {
    background-image: url(/img/desc.gif);
}

#pageHeader {
    text-align: center;
}

#error {
    display: none;
}

.hidden {
    display: none;
}

.alert {
    font-weight: bold;
    color: #ff0000;
}

/* resize datepicker calendar */
.ui-datepicker {
    font-size: 10pt !important;
}

/* styling ajax loading indicator */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('/img/ajax-loader.gif')
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.legend table {
  border-spacing: 5px;
  width: auto;
}
