table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

thead {
    background-color:#eee;
    border: 1px solid black;
}

td {
    padding: 4px;
    border: 1px solid black;
}

.hidden {
    display: none;
}
